@import "tailwindcss";
@source "../views";
@source "../../../app/Filament";
@source "../../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
    --font-sans: 'Montserrat', 'Figtree', sans-serif;
    --font-display: 'Montserrat', sans-serif;

    --color-primary: #3B82F6;
    --color-accent: #34D399;
    --color-background: #020617;
    --color-surface: #1E293B;
    --color-text-secondary: #94A3B8;
}

/* Custom Utilities if needed */
@layer utilities {

    html,
    body {
        overflow-x: hidden;
    }

    .text-shadow {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .layout-zoom-75 {
        zoom: 0.75;
    }

    /* Firefox-specific fix */
    @supports (-moz-appearance:none) {
        .layout-zoom-75 {
            zoom: 1;
            transform: scale(0.75);
            transform-origin: top center;
            width: 133.333%;
            overflow-x: hidden;
        }
    }

    .layout-zoom-90 {
        zoom: 0.9;
    }

    @supports (-moz-appearance:none) {
        .layout-zoom-90 {
            zoom: 1;
            transform: scale(0.9);
            transform-origin: top center;
            width: 111.111%;
            overflow-x: hidden;
        }
    }
}